<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://bootswatch.com/5/superhero/bootstrap.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div id="cupcake-list" class="row">

        </div>
        <div class="row">
            <div class="col-2"></div>
            <div class="col-4">
                <form id="new-cupcake-form">
                    <div class="form-group">
                        <label for="flavor">Flavor</label>
                        <input id="flavor" type="text" required class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="size">Size</label>
                        <input id="size" type="text" required class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="rating">Rating</label>
                        <input id="rating" type="number" required class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="image">Image Url</label>
                        <input id="image" type="text" class="form-control">
                    </div>
                    <br>
                    <button id="add-cupcake-button" class="btn btn-primary">Add Cupcake</button>
                </form>
            </div>
        </div>
    </div>
    <script src="http://unpkg.com/jquery"></script>
    <script src="http://unpkg.com/axios/dist/axios.js"></script>
    <script src="static/cupcakes.js"></script>
</body>

</html>